.about {
	padding: 50px $side-padding--desktop $side-padding--desktop $side-padding--desktop;
	color: #3D93FF;
	background: #232323;
	background-image: url('/assets/images/noise-texture.png');
	background-size: 150px 150px;

	@include mobile {
		padding: 20px $side-padding--mobile 17px $side-padding--mobile;
	}

	@include xl-up {
		padding: 80px $side-padding--xl $side-padding--desktop $side-padding--xl;
	}
}

.about__orka {
	margin-bottom: 40px;
	display: none;
	// margin-top: -20px;
}

.about__text {
	font-size: 40px;
	line-height: 1.2em;
	margin-bottom: 100px;
	max-width: 1600px;

	@include mobile {
		font-size: 24px;
		margin-bottom: 60px;
	}
}

.about__text p:not(:last-child) {
	margin-bottom: 1em;
}

.about__contact {
	margin-bottom: 90px;
	max-width: 1000px;

	@include mobile {
		margin-bottom: 60px;
	}
}

.about__contact-col {
	display: inline-block;
	margin-right: 100px;
	margin-bottom: 40px;

	@include mobile {
		margin-right: 0;
		display: block;
	}
}

.contact-option {
	display: block;
	margin-bottom: 40px;

	@include mobile {
		margin-bottom: 30px;
	}
}

.contact-option:last-child {
	margin-bottom: 0;
}

.contact-option__name {
	display: block;
	line-height: 1em;
	font-size: 16px;
	margin-bottom: 7px;
	letter-spacing: 0.015em;

	@include mobile {
		font-size: 14px;
	}
}

.contact-option__email {
	display: block;
	line-height: 1em;
	font-size: 28px;
	letter-spacing: 0.01em;

	@include mobile {
		font-size: 24px;
	}
}

.about__credits {
	font-size: 14px;
	letter-spacing: 0.01em;
}

.about__social {
	margin-bottom: 10px;
}

.about__social-item {
	// width: 12px;
	// height: 12px;
	// background: #3D93FF;
	font-size: 13px;
	display: inline-block;
	margin-right: 22px;
}

// .about__social-item:hover {
// 	opacity: 0.7;
// }

.about__social-item:active {
	opacity: 0.5;
}

.about__social-item:last-child {
	margin-right: 0;
}