.page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #363636;
	color: #12843D;
	padding: 50px $side-padding--desktop 130px $side-padding--desktop;
}

.page-overlay--hidden {
	display: none;
}