$bp-tablet-landscape: 1024px;
$bp-tablet-portrait: 768px;
$bp-mobile: 736px;
$bp-xl: 1900px;

@mixin desktop {
  @media (min-width: #{$bp-mobile + 1px}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$bp-tablet-landscape}) {
    @content;
  }
}

@mixin xl-up {
  @media (min-width: #{$bp-xl}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$bp-mobile}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-width: #{$bp-mobile}) and (orientation: landscape) {
    @content;
  }
}