.loading-cover {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#111, 0.9);
	z-index: 1111;
	transition: opacity 0.2s ease-in;
	pointer-events: none;
	opacity: 0;
	background-image: url('/assets/images/noise-texture.png');
	background-size: 150px 150px;
}

.loading-cover--visible {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.2s ease-out;
}

.loading-cover__inner {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url('../images/orka--loading.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	height: 102px;
	width: 450px;
}

.page-blur {
	filter: blur(5px);
}