@import './scss/_reset.scss';
@import './scss/_vars.scss';
@import './scss/_mixins.scss';

@import './components/StickyNav/_sticky-nav';
@import './components/Cover/_cover';
@import './components/About/_about';
@import './components/Feed/_feed';
@import './components/FeedFilter/_feed-filter';
@import './components/ScrollOverlay/_scroll-overlay';
@import './components/VideoPreview/_video-preview';
@import './components/ImageLoader/_image-loader';

@import './pages/Post/_post';


@font-face {
  font-family: 'CothamSans';
  src: url('assets/fonts/CothamSans.eot') fomat('otf'); /* IE9 Compat Modes */
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'CothamSans', 'Helvetica', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background: #000000;
}

a {
	text-decoration: none;
	color: inherit;
}

.app--loading,
.app--loading * {
	cursor: wait !important;
}

.home__content {
	position: relative;
	background: #ffffff;
	transition:
		opacity 1s ease-out,
		transform 2.5s cubic-bezier(0, 1, 0.5, 1);
}

.home__content--transform {
	transform: translate3d(0, 50vh, 0);
	opacity: 0;
}


.filter__option {
	display: inline-block;
}
