.post {
	background: #333333;
	color: #12843D;
	padding: 50px $side-padding--desktop 130px $side-padding--desktop;
	min-height: 100vh;

	@include mobile {
		padding: 20px $side-padding--mobile $side-padding--mobile $side-padding--mobile;
	}
}

.post__title {
	margin-bottom: 30px;
	display: block;
	height: auto;
}

.post__text {
	max-width: 660px;
	font-size: 28px;
	letter-spacing: 0.01em;
	line-height: 1.15em;
	margin-bottom: 80px;

	@include mobile {
		font-size: 20px;
	}
}

.post__text:last-child {
	margin-bottom: 0;
}

.post__embeds {
	max-width: 600px;
	position: relative;
}

.post__embed {
	margin-bottom: 0;
}

.post__embed:last-child {
	margin-bottom: 0;
}

.post__embed iframe {
	width: 100%;
	margin-bottom: 20px;
	background: #12843D;
}

.post__images {
	max-width: 600px;
	position: relative;
}

.post__image {
	width: 100%;
	margin-bottom: 20px;
}

.post__image img {
	width: 100%;
	height: auto;
}



.post__text p {
	margin-bottom: 1em;
}

.post__text p:last-child {
	margin-bottom: 0;
}