.sticky-nav__wrapper {
	display: block;
	height: 48px;
	background: #363636;
}

.sticky-nav {
	color: #DB6741;
	background: #363636;
	padding: 0 $side-padding--desktop;
	display: block;
	height: 48px;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 1em;
	z-index: 1;

	@include mobile {
		padding: 0 $side-padding--mobile;
	}
}

.about-button {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer;
	user-select: none;
	font-size: 14px;

	@include mobile {
		font-size: 12px;
	}
}