.image-loader {
	background: rgba(#12843D, 1);
	display: inline-block;
	font-size: 0;
	// margin-right: 10px;
	// height: 100%;
}

.image-loader__image {
	height: 100%;
	width: auto;
	opacity: 0;
}

.image-loader__image--loaded {
	opacity: 1;
	transition: opacity 0.66s ease-in;
}
