.scroll-overlay {
	// background: rgba(#000, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-bottom: 100vh;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	backface-visibility: hidden;
	z-index: 2;
}

.scroll-overlay--hidden {
	display: none;
}

.scroll-overlay__spacer {
	min-height: 100vh;
}
 
.scroll-overlay__inner-scroller {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 100vh;
	transition: transform 0.01s ease-out;
}

.scroll-overlay__inner {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 100vh;
	background: #232323;
	transition: transform 1.4s cubic-bezier(0, 1, 0.5, 1);
	transform: translateZ(0);
	box-shadow:
		0 1px 2px rgba(#000, 0.15),
		0 0px 15px rgba(#000, 0.33);
}

.scroll-overlay__inner--transform {
	transform: translate3d(0, -100%, 0);
}

.scroll-overlay__shim {
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: background 0.1s ease-out 0.4s;
}

.scroll-overlay__shim--visible {
	// background: rgba(#E5311D, 1);
	background: rgba(#bbb, 1);
}