.video-preview {
	width: 240px;
	height: 135px;
	width: 160px;
	height: 90px;
	margin-bottom: 10px;
	// margin-top: 2px;
	// position: relative;
	background: rgba(#ccc, 0.08);
	background: rgba(#12843D, 1);

	@include mobile {
		width: 160px;
		height: 90px;
		margin-bottom: 3px;
	}
}

.video-preview iframe {
	width: 200%;
	height: 200%;
	transform: scale(0.5);
	transform-origin: top left;
	pointer-events: none;
	transition: opacity 0.66s ease-in;

	@include mobile {
		pointer-events: auto;
	}
}

.video-preview--hidden iframe {
	opacity: 0;
}
